@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background-color: #F5F7FA; 
}

header{
  z-index:10001 !important;
}
.btn-primary{
  @apply px-7 py-2 bg-darkGreen text-white rounded hover:bg-neutralDGray transition-all
  duration-300 hover:translate-y-3
}

.btn-disabled{
  @apply px-7 py-2 bg-neutralGray text-white rounded hover:bg-neutralDGray 
}